body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Century Gothic", "Arial", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
